@use "/src/sass/base/variables.scss" as *;

@mixin title {
    color: $Dark;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

@mixin button {
    display: block;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid $Dark;
    text-align: center;
    color: $Dark;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin button-submit {
    display: block;
    background-color: transparent;
    padding: 11px 18px 10px 17px;
    color: $Light;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid $Light;
    cursor: pointer;
}

@mixin angle-decoration {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid $Dark;
    border-right: 0;
    border-bottom: 0;
    top: -1px;
    left: -1px;
}

@mixin btn-status {
    &:hover {
        color: $Ceramic;
        border: 1px solid $Ceramic;
    }
    &:active {
        color: $Dark;
        border: 1px solid $Ceramic;
    }
}
