@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.catalog {
    padding-top: 50px;
    &__title {
        margin-top: 60px;
    }
    &__tabs {
        display: flex;
        width: 340px;
        column-gap: 50px;
        row-gap: 13px;
        flex-wrap: wrap;
        margin-top: 60px;
        border: 1px solid $Dark;
        padding: 13px 25px;
    }
    &__tab {
        position: relative;
        border: none;
        padding: 0;
        background: transparent;
        color: black;
        font-size: 20px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        &_active::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: black;
            bottom: -1px;
        }
    }
    &__content {
        margin-top: 60px;
    }
    &__content-wrapper {
        display: grid;
        grid-template-rows: 1fr;
        gap: 20px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__block {
        border: 1px solid $Dark;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
        background: $Light;
    }
    &__links {
        padding: 11px 12px 16px;
        a {
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            text-decoration: none;
        }
        p {
            color: rgba(0, 0, 0, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 8px;
        }
    }
}

@media screen and (min-width: 768px) {
    .catalog {
        &__tabs {
            justify-content: space-between;
            padding: 13px;
            width: 459px;
        }
        &__content-wrapper {
            padding: 10px 10px 0;
            position: relative;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 20px;
            &::before {
                @include angle-decoration;
            }
            img {
                height: 198px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .catalog {
        &__content-wrapper {
            padding: 25px 25px 0;
            gap: 35px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1920px) {
    .catalog {
        padding-top: 40px;
        &__title {
            margin-top: 100px;
        }
        &__tab {
            font-size: 20px;
        }
        &__content-wrapper {
            gap: 25px 83px;
            grid-template-columns: repeat(4, 1fr);
            img {
                height: 180px;
            }
        }
    }
}
