@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.touch {
    padding-top: 60px;
    .just-validate-error-field {
        border: none;
        outline: 1px solid $ui-error;
        &:hover {
            border: none;
            outline: 1px solid $ui-error;
        }
        &:focus {
            border: none;
            outline: 1px solid $ui-error;
        }
    }
    &__wrapper {
        margin-top: 60px;
    }
    &__img {
        display: none;
    }
    &__vase {
        display: none;
    }
    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }
    &__label {
        display: block;
        color: $Dark;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        &:nth-child(2) {
            margin-top: 8px;
        }
    }
    &__input {
        padding: 10px 15px;
        width: 100%;
        height: 48px;
        color: $Dark;
        border-radius: 2px;
        border: 1px solid #e2e1e5;
        background: #fff;
        &:focus {
            border: none;
            outline: 1px solid $Dark;
        }
        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }
    &__textarea {
        padding: 10px 15px;
        width: 100%;
        height: 132px;
        color: $Dark;
        border-radius: 2px;
        border: 1px solid #e2e1e5;
        background: #fff;
        resize: none;
        &:focus {
            border: none;
            outline: 1px solid $Dark;
        }

        &::placeholder {
            color: $ui-disabled;
            font-size: 14px;
        }
    }
    &__check-block {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        a {
            color: #a22dc6;
            text-decoration: none;
        }
    }
    &__checkbox {
        width: 15px;
        height: 15px;
        &.just-validate-error-field {
            outline: none;
            &:focus {
                outline: none;
            }
            &:hover {
                outline: none;
            }
        }
    }

    &__btn {
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .touch {
        &__wrapper {
            position: relative;
            margin-top: 46px;
        }
        &__vase {
            display: block;
            width: 85px;
            height: 85px;
            position: absolute;
            bottom: 0;
            right: 0;
            animation: spinMove 2s ease-in-out infinite alternate;
        }
        &__input {
            &:hover {
                border: none;
                outline: 1px solid $Dark;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .touch {
        &__wrapper {
            margin-top: 80px;
            column-gap: 40px;
            flex-wrap: nowrap;
        }
        &__form {
            width: 300px;
        }
        &__img {
            display: block;
            width: 550px;
            height: 342px;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

@media screen and (min-width: 1920px) {
    .touch {
        padding-top: 100px;
        &__wrapper {
            column-gap: 147px;
        }
        &__img {
            width: 573px;
            height: 356px;
        }
        &__fieldset {
            display: flex;
            gap: 45px;
            & .touch__input-block {
                width: 300px;
            }
        }
        &__vase {
            right: 75px;
        }
    }
}
